.aggression {}

.aggression__top {
    display: flex;
    margin-bottom: 40px;

    @media(max-width:1023px) {
        flex-direction: column-reverse;
        align-items: center;
    }

    @media(max-width:767px) {
        margin-bottom: 30px;
    }
}

.aggression__photo {
    margin-right: 30px;
    max-width: 607px;
    width: 100%;

    @media(max-width:1023px) {
        margin-right: 0;
    }
}

.aggression__img {
    width: 100%;
    height: auto;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.aggression__photo-text {
    padding: 20px 37px;

    background: #313131;

    font-weight: 700;
    font-size: 30px;
    line-height: 138.9%;
    color: #FFFFFF;

    @media(max-width:800px) {
        font-size: 12px;
        line-height: 138.9%;

        padding: 10px;
    }
}

.aggression__descr {
    max-width: 570px;
}

.aggression__title {
    margin-bottom: 25px;

    font-weight: 600;
    font-size: 20px;
    line-height: 138.9%;
    color: #2C2C2C;

    @media(max-width:800px) {
        font-size: 16px;
        line-height: 138.9%;
        margin-bottom: 15px;
    }
}

.aggression__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 148.9%;
    color: #2C2C2C;

    @media(max-width:800px) {
        font-size: 12px;
        line-height: 148.9%;
        margin-bottom: 15px;
    }
}

.aggression__facts-wrapper {
    display: flex;

    @media(max-width:1023px) {
        flex-direction: column;
    }
}

.aggression__facts-tilte {
    margin-bottom: 43px;

    font-weight: 600;
    font-size: 20px;
    line-height: 148.9%;
    color: #2C2C2C;

    @media(max-width:800px) {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 148.9%;
    }
}

.aggression__facts-descr {
    max-width: 870px;
    margin-right: 30px;

    font-weight: 500;
    font-size: 18px;
    line-height: 148.9%;
    color: #2C2C2C;

    @media(max-width:1023px) {
        max-width: unset;
        margin-right: 0;
    }

    p {
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 18px;
        line-height: 148.9%;
        color: #2C2C2C;


        @media(max-width:800px) {
            font-size: 12px;
            margin-bottom: 20px;
            line-height: 148.9%;
        }
    }

    a {
        display: block;
        margin-bottom: 30px;

        transition: .2s linear;

        font-weight: 600;
        font-size: 18px;
        line-height: 148.9%;
        color: #005BBB;
        text-decoration: underline;

        @media(min-width:1024px) {
            &:hover {
                opacity: .7;
            }
        }

        @media(max-width:800px) {
            font-size: 12px;
            margin-bottom: 20px;
            line-height: 148.9%;
        }
    }

    span {
        display: block;
        margin-bottom: 30px;

        font-weight: 600;
        font-size: 18px;
        line-height: 148.9%;
        color: #2C2C2C;

        @media(max-width:800px) {
            font-size: 12px;
            line-height: 148.9%;
            margin-bottom: 20px;
        }
    }
}

.aggression__facts-sliders {
    max-width: 396px;
    margin-right: -126px;


    @media(max-width:1440px) {
        margin-right: 0;
    }

    @media(max-width:1023px) {
        margin-bottom: 60px;
    }

    .slider-mini:first-child {
        margin-bottom: 40px;

        @media(max-width:767px) {
            margin-bottom: 10px;
        }
    }

    .slider-mini-swiper {
        height: 281px;

        @media(max-width:800px) {
            height: 221px;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            max-height: 232px;

            object-fit: cover;
            object-position: center;

            @media(max-width:800px) {
                max-height: 192px;
            }
        }
    }

    .slider-mini .swiper-slide span {
        font-size: 16px;
        padding: 14px 100px 13px 10px;
        margin-top: 0;
    }

    .slider-mini .swiper-button-next,
    .slider-mini .swiper-button-prev {
        width: 44px;
        height: 49px;
    }

    .slider-mini .swiper-button-prev {
        right: 44px;
        left: inherit;
    }
}