.history {
    margin-top: 60px;

    h2 {
        font-weight: 700;
        font-size: 34px;
        line-height: 138.9%;
        color: #2C2C2C;
        margin-bottom: 40px;
        padding-bottom: 25px;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            width: 70%;
            height: 5px;
            background-color: #2C2C2C;
            left: 0;
            bottom: 0;
        }
    }

    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 138.9%;
        color: #2C2C2C;
        margin-bottom: 20px;
    }

    h3 {
        font-weight: 700;
        font-size: 22px;
        line-height: 138.9%;
        color: #FF7A00;
        margin-bottom: 30px;
        margin-top: 60px;

        &:first-child {
            margin-top: 0;
        }
    }

    .img-text {
        margin-top: 100px;
    }
}



.history-block {
    margin-bottom: 20px;

    &.bg-blue {
        position: relative;

        &::before {
            position: absolute;
            content: '';
            background: #F4F6F8;
            width: 100%;
            height: 100%;
            z-index: -1;
            left: 0;
            top: 40px;
        }
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        >p {
            width: 100%;
        }
    }

    .col {
        width: calc(50% - 15px);
        margin-bottom: 30px;

        &.col-p-top {
            padding-top: 80px;
        }

        &.col--mt {
            margin-top: 60px;
        }
    }

    .img {
        width: 100%;
        position: relative;
        margin-bottom: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        span {
            position: absolute;
            bottom: 0;
            left: 0;
            background: #313131;
            font-weight: 500;
            font-size: 18px;
            line-height: 138.9%;
            color: #FFFFFF;
            padding: 10px 20px;
            width: 100%;
        }
    }

    .img-bottom-text {
        width: 100%;
        background: #313131;
        padding: 20px 35px;
        font-weight: 700;
        font-size: 40px;
        line-height: 138.9%;
        color: #FFFFFF;
        margin-top: -25px;

        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 138.9%;
            color: #FFFFFF;
            margin-top: 25px;
            padding-top: 25px;
            border-top: 5px solid #FFFFFF;
            margin-bottom: 0;
        }
    }
}

.history--bottom {
    margin-top: 80px;
}


.history__btn-gallery {
    background: linear-gradient(180deg, #FF7A00 0%, #DD6A00 100%);
    border-radius: 10px;
    height: 51px;
    padding: 0 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
    transition: all 0.2s ease-in-out;
    position: relative;

    @media(min-width:1024px) {
        &:hover {

            &::after {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    &::after {
        content: '';
        border: 1px solid #FF7A00;
        border-radius: 10px;
        transition: .2s linear;
        transform: scale(1.2);
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}


@media (max-width: 1024px) {
    .history-block .container {
        flex-direction: column;
    }

    .history-block .col {
        width: 100%;
    }

    .history-block .col.col-p-top {
        padding-top: 0;
    }

    .history__btn-gallery {
        margin-bottom: 30px;
    }
}

@media (max-width: 800px) {
    .history {
        margin-top: 30px;
    }

    .history h2 {
        font-size: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .history h2::before {
        width: 50%;
        height: 3px;
    }

    .history-block .img span {
        font-size: 12px;
        padding: 10px;
    }

    .history-block .col {
        margin-bottom: 0;
    }

    .history-block .img-bottom-text {
        font-size: 20px;
        padding: 20px 15px;

        p {
            font-size: 12px;
            margin-top: 20px;
            padding-top: 20px;
            border-top: 3px solid #FFFFFF;
        }
    }

    .history h3 {
        margin-top: 30px !important;
        font-size: 16px;
        margin-bottom: 15px;
    }

    .history--bottom {
        font-size: 12px;
        margin-top: 40px;
    }

    .history-block .col.col--mt {
        margin-top: 0;
    }

    .history__btn-gallery {
        width: 100%;
    }

    .slider-mini .swiper-slide span {
        font-size: 12px !important;
        padding: 6px 15px !important;
    }

    .slider-mini .swiper-button-next,
    .slider-mini .swiper-button-prev {
        width: 29px !important;
        height: 29px !important;
    }

    .slider-mini .swiper-button-prev {
        right: 29px !important;
    }


}