.map {
    width: 100%;
    // height: 800px;

    position: relative;

    @media(min-width:1024px) {
        background: linear-gradient(180deg, rgba(0, 91, 187, 0.2) 0%, rgba(255, 213, 0, 0.2) 100%);
    }

    @media(max-width:1023px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }
}

.map__legend {
    padding: 30px 30px 72px;
    max-width: 356px;
    
    background: #F4F6F8;
    border-radius: 0px 5px 0px 0px;
    
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 4;
    
    @media(max-width:1439px) {
        padding: 20px 20px 53px;
        width: 266px;
        
        opacity: 0;
        visibility: hidden;
        
        &.active {
            transition: .3s linear;
            opacity: 1;
            visibility: visible;
        }
    }
    
    @media(max-width:1023px) {
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 101;
        bottom: unset;
        transform: translate(-50%, -50%);
        
        border-radius: 5px 5px 0px 5px;
    }
}


.map__legend-close {
    display: none;
    width: 12px;
    height: 12px;
    
    background-image: url("../img/close.svg");
    background-size: contain;
    background-repeat: no-repeat;
    
    position: absolute;
    top: -22px;
    right: 0;
    z-index: 4;

    @media(max-width:1439px) {
        display: block;
    }
}

.map__legend-tilte {
    margin-bottom: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid #D4D4D4;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2C2C2C;

    @media(max-width:1439px) {
        margin-bottom: 15px;
        padding-bottom: 15px;

        font-size: 14px;
        line-height: 17px;
    }
}

.map__legend-item {
    padding-left: 32px;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #2C2C2C;

    position: relative;

    @media(max-width:1439px) {
        font-size: 12px;
        line-height: 15px;
    }

    &::before {
        content: '';
        width: 17px;
        height: 17px;

        border-radius: 5px;

        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    &+& {
        margin-top: 15px;

        @media(max-width:1439px) {
            margin-top: 10px;
        }
    }

    &--rus {
        &::before {
            background: #9B7A80;
        }
    }

    &--full {
        &::before {
            background: #1DD100;
        }

    }

    &--partial {
        &::before {
            background: #EFE600;
        }
    }

    &--refused {
        &::before {
            background: #FF7A00;
        }
    }

    svg {
        width: 72.6px;
        height: 19px;

        @media(max-width:1439px) {
            height: 15px;
            width: 60.6px;
        }
    }
}

.map__filter {
    position: absolute;
    top: 48px;
    right: 0;
    z-index: 2;

    @media(max-width:1023px) {
        position: static;
        order: 2;
    }

    @media(max-width:425px) {
        margin-left: auto;
    }
}

.map__filter-title {
    margin-bottom: 25px;

    font-weight: 600;
    font-size: 18px;
    line-height: 132.02%;
    @include adaptive("font-size", 18, 24);
    @include adaptive("line-height", 14, 18);
    text-align: center;
    color: #2C2C2C;

    @media(max-width:1439px) {
        margin-bottom: 20px;
    }
}


.map__list-item {
    display: flex;
    align-items: center;

    background: #F4F6F8;
    border-radius: 5px 0px 0px 5px;
    overflow: hidden;

    &+& {
        margin-top: 12px;

        @media(max-width:1439px) {
            margin-top: 5px;
        }
    }
}

.map__filter-item {
    display: flex;
    align-items: center;
    width: 186px;
    height: 50px;
    padding: 6px 7px 6px 15px;

    cursor: pointer;
    transition: .2s linear;
    border-right: 3px solid #FFD500;

    font-weight: 500;
    @include adaptive("font-size", 16, 12);
    @include adaptive("line-height", 19, 15);
    color: #2C2C2C;

    &.active {
        background: #005BBB;
        color: #FFFFFF;
        font-weight: 700;
    }

    @media(min-width:1024px) {
        &:hover {
            background: #005BBB;
            color: #FFFFFF;
        }
    }

    @media(max-width:1439px) {
        height: 44px;
        width: 170px;
    }
}

.map__legend-btn {
    display: none;

    @media(max-width:1439px) {
        display: block;
        width: 35px;
        height: 35px;

        background-image: url("../img/legend.svg");
        background-size: contain;
        background-repeat: no-repeat;

        position: absolute;
        bottom: 11px;
        left: 11px;
        z-index: 3;
    }

    @media(max-width:1023px) {
        bottom: unset;
        top: 350px;
    }

    @media(max-width:767px) {
        width: 23px;
        height: 23px; 
        top: 150px;
    }
}

.map__wrapper {
    width: 90%;
    height: 784px;
    position: relative;

    @media(max-width:1600px) {
        width: 83%;
    }

    @media(max-width:1439px) {
        height: 624px;
    }

    @media(max-width:1023px) {
        order: 1;
        width: 100%;
        height: 400px;
        margin-bottom: 20px;
        background: linear-gradient(180deg, rgba(0, 91, 187, 0.2) 0%, rgba(255, 213, 0, 0.2) 100%);
    }

    @media(max-width:425px) {
        height: 184px;
    }

    svg {
        display: block;
        padding: 40px 0;
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        @media(max-width:1599px) {
            padding: 0;
        }

        @media(max-width:1439px) {
            padding-right: 90px;
        }

        @media(max-width:1023px) {
            padding-right: 0;
        }
    }
}

.map__country {
    fill: #6A7178;
    stroke-width: 0.3;
    stroke: #fff;

    &--russia {
        fill: #9B7A80;
    }
}


.map__country-name {
    transition: opacity .2s linear;

    &.hide {
        opacity: 0;
        visibility: hidden;
    }
}


.map__nav {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;

    @media(max-width:767px) {
        top: 8px;
        left: unset;
        right: 8px;
    }
}

.btn__zoom-in,
.btn__zoom-out {
    display: block;
    width: 24px;
    height: 24px;

    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;

    transition: .2s linear;

    @media(max-width:767px) {
        width: 16px;
        height: 16px;
    }

    &.disable {
        opacity: .6;
        pointer-events: none;
    }
}

.btn__zoom-in {
    background-image: url("../img/zoom-in.svg");
    margin-bottom: 7px;
}

.btn__zoom-out {
    background-image: url("../img/zoom-out.svg");
}