.sanction {
    padding-top: 60px;
    margin-bottom: 57px;
}

.sanction__intro {
    margin-bottom: 60px;
    padding-bottom: 40px;

    position: relative;

    &::before {
        content: '';
        height: 1px;
        width: 100vw;

        background-color: #D4D4D4;

        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }
}

.sanction__item {
    &+& {
        margin-top: 30px;
    }
}

.sanction__title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 22px;
    line-height: 138.9%;
    color: #005BBB;
}

.sanction__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 138.9%;
    color: #2C2C2C;
}

