.ukraine-fight {
    margin-bottom: 60px;
    padding-bottom: 36px;

    position: relative;

    @media(max-width:1023px) {
        margin-bottom: 30px;
        padding-bottom: 0;
    }

    &::before {
        content: '';
        background: #F4F6F8;

        position: absolute;
        top: 36px;
        left: 0;
        right: 9%;
        bottom: 0;
        z-index: -1;

        @media(max-width:1023px) {
            top: 0;
            bottom: 23px;
            right: 0;
        }
    }
}

.ukraine-fight__inner {
    display: flex;

    @media(max-width:1023px) {
        flex-direction: column;
        align-items: center;
    }
}

.ukraine-fight__info {
    margin-right: 88px;
    padding-top: 76px;

    @media(max-width:1023px) {
        padding-top: 30px;
        margin-bottom: 27px;
        margin-right: 0;
    }
}

.ukraine-fight__title {
    max-width: 405px;
    margin-bottom: 25px;
    padding-bottom: 25px;

    font-weight: 700;
    font-size: 40px;
    line-height: 138.9%;
    color: #2C2C2C;

    position: relative;

    @media(max-width:800px) {
        width: 274px;
        font-size: 20px;
        line-height: 138.9%;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }


    &::before {
        content: '';
        height: 5px;

        background-color: #2C2C2C;

        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.ukraine-fight__text {
    max-width: 570px;
    margin-bottom: 30px;

    font-weight: 500;
    font-size: 16px;
    line-height: 138.9%;
    color: #2C2C2C;

    @media(max-width:800px) {
        font-size: 12px;
        line-height: 138.9%;
        margin-bottom: 27px;
    }
}

.ukraine-fight__strong-text {
    max-width: 570px;

    font-weight: 700;
    font-size: 16px;
    line-height: 138.9%;
    color: #2C2C2C;

    @media(max-width:800px) {
        font-size: 12px;
        line-height: 138.9%;
    }
}

.ukraine-fight__hashtag {
    max-width: 570px;

    font-weight: 700;
    font-size: 16px;
    line-height: 138.9%;
    color: #005BBB;

    @media(max-width:800px) {
        font-size: 12px;
        line-height: 138.9%;
    }
}

.ukraine-fight__photo {
    max-width: 704px;
    height: auto;
    margin-right: -192px;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media(max-width:1554px) {
        margin-right: 0;
    }
}