<div class="select">
    <label class="select__top">
        <input class="select__main-input" type="text" value='"Супер Эконом":  0.23₽ / 1 шт 🛡 🚀 🥇' placeholder="Выберите тариф" name="select" readonly>
    </label>

    <div class="select__content">
        <label class="select__content-item">
            <input class="select__content-input" type="radio" name="SelectItem2" checked>
            <div class="select__content-box">
                <p class="select__content-name">"Супер Эконом": 0.23₽ / 1 шт 🛡 🚀 🥇</p>
            </div>
        </label>
        <label class="select__content-item">
            <input class="select__content-input" type="radio" name="SelectItem2">
            <div class="select__content-box">
                <p class="select__content-name">"Стандарт": 0.23₽ / 1 шт 🛡 🚀 🥇</p>
            </div>
        </label>
        <label class="select__content-item">
            <input class="select__content-input" type="radio" name="SelectItem2">
            <div class="select__content-box">
                <p class="select__content-name">"Супер Эконом": 0.23₽ / 1 шт 🛡 🚀 🥇</p>
            </div>
        </label>
        <label class="select__content-item">
            <input class="select__content-input" type="radio" name="SelectItem2">
            <div class="select__content-box">
                <p class="select__content-name">"Стандарт": 0.23₽ / 1 шт 🛡 🚀 🥇</p>
            </div>
        </label>
        <label class="select__content-item">
            <input class="select__content-input" type="radio" name="SelectItem2">
            <div class="select__content-box">
                <p class="select__content-name">"Супер Эконом": 0.23₽ / 1 шт 🛡 🚀 🥇</p>
            </div>
        </label>
        <label class="select__content-item">
            <input class="select__content-input" type="radio" name="SelectItem2">
            <div class="select__content-box">
                <p class="select__content-name">"Стандарт": 0.23₽ / 1 шт 🛡 🚀 🥇</p>
            </div>
        </label>
    </div>
</div>