<footer class="footer">
	<div class="footer__top">
		<p class="footer__ticker">Save Ukrainian lives supporting our people with medicine, food and first necessity goods. Please donate!! If you want to take part by sending goods, please click “Action Needed” menu button. Thanks!! We appreciate any help!!</p>
	</div>
	<div class="container">
		<div class="footer__inner">
			<picture class="footer__bg">
				<source srcset="" type="image/webp">
				<img src="img/footer__bg.jpg" alt="">
			</picture>
			<div class="footer__inner-top">
				<a class="footer__logo" href="#">
					<p class="footer__logo-text">Ukraine</p>
					<p class="footer__logo-text">
						from Bravery to Heroism</p>
				</a>
				<p class="footer__inner-text">Medical and humanitarian assistance for citizens of Ukraine</p>
				<a class="footer__donate-link" href="#">Donate</a>
			</div>
			<div class="footer__inner-center">
				<nav class="nav">
					<div class="header__select">
						<p class="header__select-title">Action Needed</p>
						<ul class="header__select-list">
							<li class="header__select-item">Goverments</li>
							<li class="header__select-item">Companies</li>
							<li class="header__select-item">Goods</li>
						</ul>
					</div>
					<div class="nav__list">
						<a class="nav__link" href="#">
							Russia invaded
							Ukraine
						</a>
						<a class="nav__link" href="#">
							Why sanctions are
							important
						</a>
						<a class="nav__link" href="#">
							Government
							Decisions
						</a>
						<a class="nav__link" href="#">
							Companies
							sanctions
						</a>
						<a class="nav__link" href="#">
							Russian
							Brands
						</a>
						<a class="nav__link" href="#">
							Persona
							Nongrata
						</a>
					</div>
				</nav>
			</div>
			<div class="footer__inner-bottom">
				<div class="footer__contact">
					<p class="footer__contact-name">E-mail</p>
					<a class="footer__contact-link" href="mailto:Admin@gmail.com">Admin@gmail.com</a>
				</div>
				<p class="footer__copyright">©sanctionsforussia.org 2022</p>
				<div class="footer__icon">
					<a class="footer__social-link" href="#" target="_blank">
						<img src="img/icon1.svg" alt="">
					</a>
					<a class="footer__social-link" href="#" target="_blank">
						<img src="img/icon2.svg" alt="">
					</a>
					<a class="footer__social-link" href="#" target="_blank">
						<img src="img/icon3.svg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>