<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-inner">
                <a class="header__logo" href="/">
                    <p class="header__logo-text">Ukraine</p>
                    <p class="header__logo-text">from Bravery to Heroism</p>
                </a>
                <p class="header__hashtag">
                    #StandwithUkraine
                </p>
            </div>
        </div>
    </div>
    <div class="header__center">
        <p class="header__ticker">To empower global social support, we are strongly encouraging You to share information about this Site to as many people as You can and via all possible ways of communications. Thank You! </p>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="header__bottom-inner">
                <nav class="nav">
                    <button class="close-menu"></button>
                    <div class="header__select">
                        <p class="header__select-title">Action Needed</p>
                        <ul class="header__select-list">
                            <li class="header__select-item">Goverments</li>
                            <li class="header__select-item">Companies</li>
                            <li class="header__select-item">Goods</li>
                        </ul>
                    </div>
                    <div class="nav__list">
                        <a class="nav__link" href="#">Russia invaded
                            Ukraine</a>

                        <a class="nav__link" href="#">Why sanctions <br>
                            are important</a>

                        <a class="nav__link" href="#">Governmant
                            Decisions</a>

                        <a class="nav__link" href="#">Companies
                            sanctions</a>

                        <a class="nav__link" href="#">Russian
                            <br>
                            Brands</a>

                        <a class="nav__link" href="#">Persona <br>
                            Nongrata</a>

                        <a class="nav__link nav__link--partners" href="#">Partners</a>
                    </div>
                    <div class="footer__social">
                        <a class="footer__social-link" href="#" target="_blank">
                            <img src="img/icon1.svg" alt="">
                        </a>
                        <a class="footer__social-link" href="#" target="_blank">
                            <img src="img/icon2.svg" alt="">
                        </a>
                        <a class="footer__social-link" href="#" target="_blank">
                            <img src="img/icon3.svg" alt="">
                        </a>
                    </div>
                </nav>
                <a class="header__donate-btn" href="#">Donate</a>
                <div class="header__lang">
                    <p class="header__lang-name">En</p>
                    <div class="header__lang-list">
                        <a class="header__lang-item" href="#">Ua</a>
                        <a class="header__lang-item" href="#">Ru</a>
                    </div>
                </div>
                <button class="burger"></button>
            </div>
        </div>
    </div>
</header>